.EligibilityDonation__Home-container {
  width: 100%;
  min-width: 100vw;
  box-sizing: border-box;
}
.EligibilityDonation__CardsHolder {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.EligibilityDonation__LeftNav {
  display: flex;
  flex-direction: row;
  width: 35%;
  padding: 0px 64px;
}
.EligibilityDonation__Right {
  display: flex;
  flex-direction: row;
  width: 65%;
  align-items: flex-start;
}
.EligibilityDonation__Profile-form {
  width: 90%;
  background-color: rgb(82, 82, 82);
  padding: 8px 16px;
  border-radius: 10px;
  align-items: flex-start;
}
.EligibilityDonation__Donor-head {
  font-size: 25px;
  font-weight: 500;
  margin-bottom: 2px;
}
.EligibilityDonation__Donor-desc {
  opacity: 0.7;
}
.EligibilityDonation__Form-header {
  margin-bottom: 20px;
}
.EligibilityDonation__time-slots{
  gap: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.EligibilityDonation__time-up-div{
  padding: 15px;
  width: 100%;
  background-color: rgb(82, 82,82);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
  border: 1px solid rgb(255, 255, 255,40%);
}
.EligibilityDonation__group-cal-details{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.EligibilityDonation__hospital-loc{
  font-size: 15px;
  font-weight: 300;
  margin-bottom: 10px;
}
.EligibilityDonation__flag-reg{
  padding: 7px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: rgba(220, 220, 220, 0.3);
  border-radius: 20px;
  font-size: 15px;
}
.EligibilityDonation__date-time-upd{
  font-size: 18px;
  font-weight: 500;
}
.EligibilityDonation__cal-icon{
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: green;
}
.EligibilityDonation__last {
  margin-top: 1rem;
}
.EligibilityDonation__savebtn {
  padding: 0.7rem;
  background-color: rgb(219,97,97,100%);
  font-weight: bolder;
  color: white;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  width: 100%;
}
.EligibilityDonation__savebtn:hover {
  background-color:rgba(179, 77, 77, 1);
}