.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 10%;
  padding:2% ;
  margin-bottom: 3%;
  border-bottom: 1px solid ;
}
.Logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1%;
}
.Logo-img{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.Logo-text{
    font-size: 23px;
    font-weight: 500;
}
.sign-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
}